.wrapper_card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 940px;
    margin: 0px auto;
    margin-top: 3%;
     background: url(../Assets/CardBgLadyWhite.jpg); 
     
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size:cover ; 
    background-size: center;
    box-shadow: 0 0px 9px rgba(0,0,0,1);
    border-radius: 10px;
    overflow: hidden;
    min-height: 500px;
    padding: 20px;
}
